<!DOCTYPE html>
<html>
    <nav class="navbar navbar-light bg-info">
        <div class="container-fluid">
            <h1 style="color:rgb(186, 61, 184)">!Exchange Not Connected</h1>
            <h1 style="color:rgb(45, 48, 42)">Trial Subscription - 7 more days left</h1>
            <div class="d-flex">
                <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Renew Subscription
                </button>
            </div>
        </div>
    </nav>
    <br>
    <!-- for progress bar -->
<body>

	<!-- <h1>title</h1> -->
	<!-- Creating of a container class that
		store other useful classes -->
	<div class="container">
		<!-- Creating a ui-widgets classes that
			store other useful classes like
			ui-values and ui-labels -->
		<div class="ui-widgets">
			<div class="ui-values">20%</div>
			<div class="ui-labels">Bitcoin</div>
		</div>

		<div class="ui-widgets">
			<div class="ui-values">60%</div>
			<div class="ui-labels">Ethereum</div>
		</div>

        <div class="ui-widgets">
			<div class="ui-values">20%</div>
			<div class="ui-labels">Monero</div>
		</div>
	</div>
</body>

<!-- for cards -->

<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
  <div class="column">
    <div class="card">
      <h3>Current Balance</h3>
      <p>Bicoin-$1000</p>
      <p>Ethereum-$650</p>
      <p>Monero-$450</p>
      <button type="button" class="btn btn-success" >Add Exchange</button>              
    </div>
  </div>
</div>
</body>
<div id="boxes-div" class="clearfix">

    <div class="box"> Portfolio 1 Day 3.7%
        <img src="D:\TQ\Angular\Company Task\Verificient\task\css\img2.png" height="200px" width="200px"alt="img1"/>
    </div>

    <div class="box"> Portfolio 2 Day 3.7%
          <img src="D:\TQ\Angular\Company Task\Verificient\task\css\img2.png" height="200px" width="200px"alt="img1"/>
    </div>

    <div class="box"> Portfolio 3 Day 3.7%
          <img src="D:\TQ\Angular\Company Task\Verificient\task\css\img2.png" height="200px" width="200px"alt="img1"/>
    </div>
          

     </div>


   
</html>






























